<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp</title>
</head>
<body>
  <!-- <% //if (user) { %>
    <h1>Welcome home,  <%=//user.screenName %></h1> 
    <form method="POST" action="logout">
      <button>Logout</button>
    </form>
  <% //} else { %>
    <h1>welcome home, son</h1>
    <a href="/login">Login!</a>
 <% //} %> -->
</body>
</html>